body {
padding: 60px 0;
background: #ffffff;
}

p {
font-family: 'Noto Sans', serif;
}

h1, h2, h3, h4, h5 {
font-family: 'Noto Serif', sans-serif;

}

#wrapper {
      background-image: url('../img/bg3.jpg');
    background-attachment: fixed;
    background-position: center center;
/* end edit */
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #111;
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 0;
}
