
p, ol, ul, li, a, h1, h2, h3, h4, h5 {
font-family: Tahoma, Geneva, sans-serif;
}

div.container{
background-color: #FFFFFF;
    margin-left: auto;
    margin-right: auto;
	}
div.wrapper {
background-image: url("../images/stars.jpg");
 background-repeat: no-repeat;
    background-size: 100% 100%;


}

h1 {
text-align: center;
padding-bottom: 10px;
}

nav.navbar.navbar-default { 
	border: none;
	box-shadow: none;
	background-color: transparent;
	font-size: 16px;
	padding-top: 30px;
}

.navbar-default .navbar-brand {
	color: #333;
}

.navbar-default .navbar-nav>li>a {
	text-decoration: none;
}

p {
	font-size: 16px;
	padding-top:20px;
}

a { 
	color: #333;
	text-decoration: underline;
}

.footer {	
	margin: 40px 0 30px 0;
}

li {
	font-size: 16px; 
}

.spaced {
	margin-bottom: 30px; 
} 	
