<!DOCTYPE html>
	<html lang="en">
		<head>
			<metacharset="utf-8">
			<meta http-equiv="X-UA-Compatible" content=IE=edge">
			<meta name="viewport" content="width-device-width, initial-scale=1">
			<meta name="description" content="Discworld Books App">
			<meta name="author" content="Christine Griffiths">
			<title>Discworld Books App</title>
			<!--styles-->	
		<link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
		</head>
	<body>
	<h1>Welcome to the Discworld Books App!</h1>

	<p>This site gives you every possible reading order for Terry pratchett's Discworld series of books</p>
	
	<h2>Chronologically</h2>
	<h2>The City Watch</h2>
	<h2>The Witches</h2>
	<h2>Death</h2>
	<h2>Moist Von Lipwig</h2>
	<h2>Rincewind/The Wizards</h2>
	<h2>Tiffany Aching and the Nac Mac Feegles</h2>
	<h2>For Younger Readers</h2>
	</body>
</html>




